.postContainer {
  display: flex;
  flex-direction: column;
}

.post {
  padding: 1rem;
  border-bottom: 1px solid #94a3b8;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.postAuthor {
  color: #cbd5e1;
  display: flex;
  flex-direction: row;
  gap: .35rem;
  font-weight: bold;
}

.postTime {
  color: #475569;
}

.postText {
  font-size: 1.5rem;
  line-height: 2rem;
}

.profileImageContainer {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.profileImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
}

.feedProfileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
}

.emojiInput {
  background: transparent;
  color: white;
  outline: none;
  flex-grow: 1;
  font-weight: 500;
}

.emojiInput:disabled {
  opacity: 0.3;
}

.topNav {
  border-bottom: 1px solid #94a3b8;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.profileContainer {
  background: #475569;
  height: 10rem;
  position: relative;
}

.profileMainPicture {
  height: 128px;
  width: 128px;
  margin-bottom: -4rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: 1rem;
  border-radius: 9999px;
  border: 4px solid black;
  background: black;
}

.profileInfoContainer {
  padding: 1.25rem;
}

.profileUsername {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}
